<!-- home.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="Whalee">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>HOME</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="../public/mdl/material.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="../public/mdl/material.min.js"></script><!-- load angular -->
    <script src="js/core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
    <div class="container">
            <a ng-href="/sla">SLA</a>
            <a ng-href="/">Logout</a>
            <button type="submit" ng-click="addUser()">Add user</button>
            <button type="submit" ng-click="removeUser()">Remove user</button>
            <label>{{userInfo}}</label>
            <button type="submit" ng-click="getUser()">Get user</button>
    </div>

</body>
</html>
