<!-- home.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="whalee">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>HOME</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="mdl/material.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="mdl/material.min.js"></script><!-- load angular -->
    <script src="js/core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
    <div class="container">
            <a ng-href="/sla">SLA</a> 
            <a ng-href="/">Logout</a>
            <!-- Simple Textfield -->
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield">
                    <label class="mdl-textfield__label" for="sample1">User: </label>
                    <input class="mdl-textfield__input" type="text" id="sample1" ng-model="formData.text">
                    
                </div>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="addUser()">
                        Add user
                    </button>
            </form>
            </br> 

            </br>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="removeUser()">
                Remove user
            </button>
            </br>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="getUser()">
                Get user
            </button>
            </br>
            <label>{{userInfo}}</label>

    </div>

</body>
</html>
